# Bazel deprecations
# =========================================================
# See: https://docs.bazel.build/versions/main/backward-compatibility.html

build --incompatible_disallow_empty_glob

# Compiler configuration
# =========================================================

build:gnulike --cxxopt='-std=c++20'

build:msvc --cxxopt='/std:c++20'

# Misc configuration
# =========================================================

try-import %workspace%/.bazelrc.local
